<template>
  <v-card class="mx-auto" height="100%">
    <template slot="progress">
      <v-progress-linear
        color="deep-purple"
        height="10"
        indeterminate
      ></v-progress-linear>
    </template>

    <picture v-if="movie.poster_path">
      <source
        :srcset="`https://image.tmdb.org/t/p/w500${movie.poster_path}`"
        type="image/webp"
      />
      <source
        :srcset="`https://image.tmdb.org/t/p/w500${movie.poster_path}`"
        type="image/jpeg"
      />
      <v-img
        height="250"
        :src="`https://image.tmdb.org/t/p/w500${movie.poster_path}`"
      ></v-img>
    </picture>
    <v-img
      v-else
      height="250"
      src="https://cdn.vuetifyjs.com/images/cards/cooking.png"
    ></v-img>

    <v-card-title>{{ movie.title }}</v-card-title>

    <v-card-text>
      <v-row align="center" class="mx-0">
        <v-rating
          :value="movie.vote_average || 0"
          color="amber"
          dense
          half-increments
          readonly
          length="10"
          size="14"
        ></v-rating>

        <div class="grey--text ms-4">
          {{ movie.vote_average || '0' }} ({{ movie.vote_count }})
        </div>
      </v-row>

      <div class="my-4 text-subtitle-1">{{ movie.name }}</div>

      <div>
        {{ movie.overview }}
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'Card',
  props: {
    movie: {
      type: Object,
      required: true,
    },
  },
}
</script>

<style scoped></style>
