<template>
  <v-app dark>
    <v-main>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <nuxt />
        </v-layout>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  data() {
    return {}
  },
}
</script>
