<template>
  <v-app>
    <v-main>
      <v-app-bar color="deep-purple">
        <v-text-field
          v-model="query"
          label="search"
          prepend-inner-icon="mdi-magnify"
          hide-details
          solo
          dense
          flat
        ></v-text-field>
        <v-spacer></v-spacer>
        <v-select
          :items="$i18n.locales"
          :value="$i18n.locale"
          item-text="code"
          item-value="code"
          dense
          hide-details
          solo
          @change="$i18n.setLocale($event)"
        ></v-select>

        <v-btn color="white" icon @click="logout">
          <v-icon>mdi-exit-to-app</v-icon>
        </v-btn>
      </v-app-bar>

      <v-container fluid>
        <nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      query: this.$route.query.query,
    }
  },
  watch: {
    query(query) {
      this.$router.push({
        query: {
          query,
        },
      })
    },
  },
  methods: {
    logout() {
      this.$cookies.remove('token')
      this.$router.push('/login')
    },
  },
}
</script>

<style scoped></style>
