<template>
  <div>
    <v-container>
      <v-overlay :value="loading">
        <v-progress-circular indeterminate size="64"></v-progress-circular>
      </v-overlay>
      <v-row>
        <v-col v-for="(item, idx) in data.results" :key="idx" cols="6">
          <movie-card :movie="item" />
        </v-col>
      </v-row>
    </v-container>
    <v-pagination
      v-model="page"
      class="my-4"
      :length="data.total_pages"
    ></v-pagination>
  </div>
</template>

<script>
import get from 'lodash/get'
import { mapActions } from 'vuex'

export default {
  data() {
    return {
      loading: false,
      data: {},
      page: this.$route.query.page || 1,
    }
  },
  watch: {
    '$route.query': {
      immediate: true,
      handler(query) {
        if (query.query) {
          this.searchMovie()
        } else {
          this.getMovieList()
        }
      },
    },
    page(page) {
      const query = this.$route.query
      this.$router.push({
        query: { ...query, page },
      })
    },
  },
  methods: {
    ...mapActions('movies', [
      'getMovieDetailAction',
      'searchMovieAction',
      'getMovieListAction',
    ]),
    searchMovie() {
      this.loading = true
      this.searchMovieAction()
        .then((response) => {
          this.data = get(response, 'data', this.data)
        })
        .finally(() => {
          this.loading = false
        })
    },
    getMovieList() {
      this.loading = true
      this.getMovieListAction()
        .then((response) => {
          this.data = get(response, 'data', this.data)
        })
        .finally(() => {
          this.loading = false
        })
    },
  },
  head: {
    title: 'my website title',
  },
}
</script>
