<template>
  <v-flex xs12 sm8 md4>
    <v-window v-model="frameWindow" v-loading="loading">
      <v-window-item :value="1">
        <v-card class="elevation-12">
          <v-toolbar dark color="primary">
            <v-toolbar-title>Login form</v-toolbar-title>
          </v-toolbar>
          <core-form v-slot="{ invalid, validate }">
            <v-card-text>
              <validation-provider
                v-slot="{ errors, valid }"
                name="login"
                rules="required"
              >
                <v-text-field
                  v-model="signInForm.login"
                  prepend-icon="mdi-account"
                  :success="valid"
                  :error-messages="errors"
                  label="Login"
                  type="text"
                ></v-text-field>
              </validation-provider>
              <validation-provider
                v-slot="{ errors, valid }"
                name="password"
                rules="required"
              >
                <v-text-field
                  v-model="signInForm.password"
                  prepend-icon="mdi-lock"
                  :success="valid"
                  :error-messages="errors"
                  label="Password"
                  type="password"
                ></v-text-field>
              </validation-provider>
            </v-card-text>
            <v-card-actions>
              <v-btn text color="primary" @click="frameWindow++">Sign up</v-btn>
              <v-spacer></v-spacer>
              <v-btn
                color="primary"
                @click="validate().then((valid) => valid && signIn())"
              >
                Login
              </v-btn>
            </v-card-actions>
          </core-form>
        </v-card>
      </v-window-item>
      <v-window-item :value="2">
        <v-card class="elevation-12">
          <v-toolbar dark color="primary">
            <v-toolbar-title>Register form</v-toolbar-title>
          </v-toolbar>
          <core-form v-slot="{ invalid, validate }">
            <v-card-text>
              <validation-provider
                v-slot="{ errors, valid }"
                name="first name"
                rules="required"
              >
                <v-text-field
                  v-model="signUpForm.firstName"
                  prepend-icon="mdi-account"
                  :success="valid"
                  :error-messages="errors"
                  label="First name"
                  type="text"
                ></v-text-field>
              </validation-provider>
              <validation-provider
                v-slot="{ errors, valid }"
                name="last name"
                rules="required"
              >
                <v-text-field
                  v-model="signUpForm.lastName"
                  prepend-icon="mdi-account"
                  :success="valid"
                  :error-messages="errors"
                  label="Last name"
                  type="text"
                ></v-text-field>
              </validation-provider>
              <validation-provider
                v-slot="{ errors, valid }"
                name="login"
                rules="required"
              >
                <v-text-field
                  v-model="signUpForm.login"
                  prepend-icon="mdi-account"
                  :success="valid"
                  :error-messages="errors"
                  label="Login"
                  type="text"
                ></v-text-field>
              </validation-provider>
              <validation-provider
                v-slot="{ errors, valid }"
                name="password"
                rules="required"
              >
                <v-text-field
                  v-model="signUpForm.password"
                  prepend-icon="mdi-lock"
                  :success="valid"
                  :error-messages="errors"
                  label="Password"
                  type="password"
                ></v-text-field>
              </validation-provider>
            </v-card-text>
            <v-card-actions>
              <v-btn text color="primary" @click="frameWindow--">Sign in</v-btn>
              <v-spacer></v-spacer>
              <v-btn
                color="primary"
                @click="validate().then((valid) => valid && signUp())"
              >
                Register
              </v-btn>
            </v-card-actions>
          </core-form>
        </v-card>
      </v-window-item>
    </v-window>
  </v-flex>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'AuthForm',
  data: () => ({
    frameWindow: 1,
    signInForm: {},
    signUpForm: {},
    loading: false,
  }),
  methods: {
    ...mapActions('user', ['registerNewUserAction', 'loginAction']),
    signUp() {
      this.loading = true
      this.registerNewUserAction(this.signUpForm)
        .then(() => {
          this.$toast.success(this.$t('signUpSuccess'))
          this.signInForm = { ...this.signUpForm }
          this.signUpForm = {}
          this.frameWindow = 1
        })
        .catch((r) => {
          this.$toast.error(this.$t('signInError'))
        })
        .finally(() => {
          this.loading = false
        })
    },
    signIn() {
      this.loading = true
      this.loginAction(this.signInForm)
        .then(() => {
          this.$router.push('/')
          this.$router.push(this.localeLocation('/'))
        })
        .catch(() => {
          this.$toast.error(this.$t('signInError'))
        })
        .finally(() => {
          this.loading = false
        })
    },
  },
}
</script>

<style lang="scss"></style>
