<template #functional>
  <ValidationObserver v-slot="props" tag="div">
    <slot v-bind="props" />
  </ValidationObserver>
</template>

<script>
export default {
  name: 'CoreForm',
}
</script>

<style scoped></style>
